{% extends 'admin.html.twig' %}

{% block title %}Modifier une page{% endblock %}

{% block body %}

<section class="bloc1">
    <h2>Modifier une page</h2>
        {{ form_start(form) }}
            {{ form_row(form.page_title, { value: pageName } ) }}
            {{ form_row(form.page_nav_position) }}
            {{ form_row(form.page_content, { value: dataFile }) }}
            {{ form_row(form.page_meta_title, { value: pageMetaTitle }) }}
            {{ form_row(form.page_meta_desc, { value: pageMetaDesc }) }}
            {{ form_row(form.page_submit) }}
        {{ form_end(form) }}
</section>

{% endblock %}