{% extends 'admin.html.twig' %}

{% block title %}Gestion des menus{% endblock %}

{% block body %}

<section class="bloc1">
    <h2>Gestion de la navigation</h2>
    <div class="manage-nav-content">
        <div class="pages-list">
            {{ form_start(form) }}
            {{ form_row(form.nav_location) }}
                {% for fields in form.pages_list %}
                <div class="inline">
                    {{ form_widget(fields) }}
                    {{ form_label(fields) }}
                </div>
                {% endfor %}
            {{ form_end(form) }}
        </div>
        <div class="nav-list">
            {% for page in pages %}
                <div class="line">
                    <p>
                        {{ page.name.name }} - 
                        <em>{% if page.locationnav == 2 %}
                            Contact
                        {% elseif page.locationnav == 1 %}
                            Confidentialité
                        {% else %}
                            Menu principal
                        {% endif %}</em>
                    </p>
                    <ul>
                        <li>Modifier</li>
                        <li>Supprimer</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}